In [4]:
#global import
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
data2015 = pd.read_csv("Dataset/2015.csv")
data2016 = pd.read_csv("Dataset/2016.csv")
data2017 = pd.read_csv("Dataset/2017.csv") #No Region column; Different column name format -> Add column Region, compare with data2015+2016
data2018 = pd.read_csv("Dataset/2018.csv") #Country or Region column mixed
data2019 = pd.read_csv("Dataset/2019.csv") #Country or Region column mixed

data2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [29]:
data2016['Region'].value_counts()

Sub-Saharan Africa                 38
Central and Eastern Europe         29
Latin America and Caribbean        24
Western Europe                     21
Middle East and Northern Africa    19
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: Region, dtype: int64

In [18]:
#Ranking by Region, calculated via mean / median values of Happiness score in all countries in that particular Region
#Group By region

data2015.groupby("Region")['Happiness Score'].mean().sort_values(ascending=False)

Region
Australia and New Zealand          7.285000
North America                      7.273000
Western Europe                     6.689619
Latin America and Caribbean        6.144682
Eastern Asia                       5.626167
Middle East and Northern Africa    5.406900
Central and Eastern Europe         5.332931
Southeastern Asia                  5.317444
Southern Asia                      4.580857
Sub-Saharan Africa                 4.202800
Name: Happiness Score, dtype: float64

In [75]:
#Look up Country in data2017, 2018 and 2019 by Country in 2016

data2017_with_region = data2017.merge(
    right=data2016[['Country', 'Region']],
    how = 'left'
)
data2017_with_region.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Region
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Western Europe
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,Western Europe
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,Western Europe
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,Western Europe
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,Western Europe

In [73]:

data2018_with_region = data2018.merge(
    right=data2016[['Country', 'Region']],
    how = 'left',
    left_on = 'Country or region',
    right_on = 'Country'
)
data2018_with_region.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Country,Region
37,38,Trinidad & Tobago,6.192,1.223,1.492,0.564,0.575,0.171,0.019,NaN,NaN
57,58,Northern Cyprus,5.835,1.229,1.211,0.909,0.495,0.179,0.154,NaN,NaN
122,123,Mozambique,4.417,0.198,0.902,0.173,0.531,0.206,0.158,NaN,NaN
140,141,Lesotho,3.808,0.472,1.215,0.079,0.423,0.116,0.112,NaN,NaN
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,NaN,NaN

In [76]:
data2019_with_region = data2019.merge(
    right=data2016[['Country', 'Region']],
    how = 'left',
    left_on = 'Country or region',
    right_on = 'Country'
)
data2019_with_region.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Country,Region
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Finland,Western Europe
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Denmark,Western Europe
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Norway,Western Europe
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Iceland,Western Europe
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Netherlands,Western Europe