In [81]:
#global import
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
data2015 = pd.read_csv("Dataset/2015.csv")
data2016 = pd.read_csv("Dataset/2016.csv")
data2017 = pd.read_csv("Dataset/2017.csv") #No Region column; Different column name format -> Add column Region, compare with data2015+2016
data2018 = pd.read_csv("Dataset/2018.csv") #Country or Region column mixed
data2019 = pd.read_csv("Dataset/2019.csv") #Country or Region column mixed

data2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [83]:
data2016['Region'].value_counts()

Sub-Saharan Africa                 38
Central and Eastern Europe         29
Latin America and Caribbean        24
Western Europe                     21
Middle East and Northern Africa    19
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: Region, dtype: int64

In [85]:
#Look up Country in data2017, 2018 and 2019 by Country in 2016

data2017_with_region = data2017.merge(
    right=data2016[['Country', 'Region']],
    how = 'left'
)
data2017_with_region.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Region
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Western Europe
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,Western Europe
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,Western Europe
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,Western Europe
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,Western Europe

In [86]:

data2018_with_region = data2018.merge(
    right=data2016[['Country', 'Region']],
    how = 'left',
    left_on = 'Country or region',
    right_on = 'Country'
)
data2018_with_region.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Country,Region
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,Finland,Western Europe
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,Norway,Western Europe
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,Denmark,Western Europe
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,Iceland,Western Europe
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,Switzerland,Western Europe

In [87]:
data2019_with_region = data2019.merge(
    right=data2016[['Country', 'Region']],
    how = 'left',
    left_on = 'Country or region',
    right_on = 'Country'
)
data2019_with_region.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Country,Region
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Finland,Western Europe
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Denmark,Western Europe
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Norway,Western Europe
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Iceland,Western Europe
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Netherlands,Western Europe

In [88]:
# Find mean/median for each region over the years
# Western Europe region : 2015-2019

happiness_score_2015 = data2015.groupby(['Region'])['Happiness Score'].mean().reset_index()
print(happiness_score_2015)

                            Region  Happiness Score
0        Australia and New Zealand         7.285000
1       Central and Eastern Europe         5.332931
2                     Eastern Asia         5.626167
3      Latin America and Caribbean         6.144682
4  Middle East and Northern Africa         5.406900
5                    North America         7.273000
6                Southeastern Asia         5.317444
7                    Southern Asia         4.580857
8               Sub-Saharan Africa         4.202800
9                   Western Europe         6.689619

In [89]:
happiness_score_2016 = data2016.groupby(['Region'])['Happiness Score'].mean().reset_index()
print(happiness_score_2016)

                            Region  Happiness Score
0        Australia and New Zealand         7.323500
1       Central and Eastern Europe         5.370690
2                     Eastern Asia         5.624167
3      Latin America and Caribbean         6.101750
4  Middle East and Northern Africa         5.386053
5                    North America         7.254000
6                Southeastern Asia         5.338889
7                    Southern Asia         4.563286
8               Sub-Saharan Africa         4.136421
9                   Western Europe         6.685667

In [90]:
happiness_score_2017 = data2017_with_region.groupby(['Region'])['Happiness.Score'].mean().reset_index()
print(happiness_score_2017)

                            Region  Happiness.Score
0        Australia and New Zealand         7.299000
1       Central and Eastern Europe         5.409931
2                     Eastern Asia         5.496500
3      Latin America and Caribbean         5.957818
4  Middle East and Northern Africa         5.369684
5                    North America         7.154500
6                Southeastern Asia         5.444875
7                    Southern Asia         4.628429
8               Sub-Saharan Africa         4.147639
9                   Western Europe         6.703714

In [91]:
happiness_score_2018 = data2018_with_region.groupby(['Region'])['Score'].mean().reset_index()
print(happiness_score_2018)

                            Region     Score
0        Australia and New Zealand  7.298000
1       Central and Eastern Europe  5.463966
2                     Eastern Asia  5.672000
3      Latin America and Caribbean  5.938619
4  Middle East and Northern Africa  5.282737
5                    North America  7.107000
6                Southeastern Asia  5.313444
7                    Southern Asia  4.603857
8               Sub-Saharan Africa  4.230500
9                   Western Europe  6.829100

In [92]:
happiness_score_2019 = data2019_with_region.groupby(['Region'])['Score'].mean().reset_index()
print(happiness_score_2019)

                            Region     Score
0        Australia and New Zealand  7.267500
1       Central and Eastern Europe  5.571786
2                     Eastern Asia  5.688833
3      Latin America and Caribbean  5.942550
4  Middle East and Northern Africa  5.237000
5                    North America  7.085000
6                Southeastern Asia  5.273667
7                    Southern Asia  4.526857
8               Sub-Saharan Africa  4.340657
9                   Western Europe  6.898400

In [99]:

happiness_data = {
   'Region': np.sort(data2015['Region'].unique()),
   '2015': happiness_score_2015['Happiness Score'],
   '2016' : happiness_score_2016['Happiness Score'],
   '2017' : happiness_score_2017['Happiness.Score'],
   '2018' : happiness_score_2018['Score'],
   '2019' : happiness_score_2019['Score'],
}

happiness_score_by_year = pd.DataFrame(happiness_data)
print(happiness_score_by_year)

                            Region      2015      2016      2017      2018  \
0        Australia and New Zealand  7.285000  7.323500  7.299000  7.298000
1       Central and Eastern Europe  5.332931  5.370690  5.409931  5.463966
2                     Eastern Asia  5.626167  5.624167  5.496500  5.672000
3      Latin America and Caribbean  6.144682  6.101750  5.957818  5.938619
4  Middle East and Northern Africa  5.406900  5.386053  5.369684  5.282737
5                    North America  7.273000  7.254000  7.154500  7.107000
6                Southeastern Asia  5.317444  5.338889  5.444875  5.313444
7                    Southern Asia  4.580857  4.563286  4.628429  4.603857
8               Sub-Saharan Africa  4.202800  4.136421  4.147639  4.230500
9                   Western Europe  6.689619  6.685667  6.703714  6.829100

       2019
0  7.267500
1  5.571786
2  5.688833
3  5.942550
4  5.237000
5  7.085000
6  5.273667
7  4.526857
8  4.340657
9  6.898400